/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: rgb(10, 165, 255);
  --first-color-dark:black ;
  --text-color: #524748;
  --first-color-light:rgb(10, 165, 255);
  --first-color-lighten: white;

  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0, 0, 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: white;
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS =====*/
.section {
  padding: 4rem 0 2rem;
}
.section-title,
.section-subtitle {
  text-align: center;
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}


.bd-grid {
  display: grid;
  gap: 1.5rem;
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color:black;
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
  }
  
}
.nav_item {
  margin-bottom: var(--mb-3);
}

.nav_link {
  color: var(--first-color-lighten);
  transition: 0.3s;

}
.nav_link:hover {
  color:  rgb(10, 165, 255);
  
}

.nav_item{
  bottom: -0.7rem;

  
}

.nav_logo,
.nav_toggle {
  color: var(--first-color-lighten);
  

}

.nav_toggle {
  font-size: 1.3rem;
  cursor: pointer;
}
/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  position: relative;

  
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 55%;
  height: 3px;
  background-color: rgb(10, 165, 255);
  transition: width .3s ease;

}
.active-link:hover::after {
  width: 100%;
}

/* Change background header */
.scroll-header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.scroll-header .nav_link:hover{
  color: rgb(10, 165, 255);
}



.scroll-header .nav_logo,
.scroll-header .nav_toggle,
.scroll-header .nav_link {
  color: var(--first-color-dark);
}
.scroll-header .nav_menu {
  background-color: var(--first-color-lighten);
}
/*===== SCROLL TOP =====*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  background: none;
  border-radius: 0.7rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop:hover, .scrolltop_icon:hover{
  background: none;
  color: var(--first-color);
  
}
.scrolltop_icon {
  font-size: 2rem;
  color:black;

}
/* Show scroll top */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
/*===== HOME =====*/
.home {
  /*background-color: red;*/
  overflow: hidden;
  background: url("img/journey.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home_container {
  position: relative;
  height: calc(109vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 2rem;
}
.home_data {
  border-left: 4px solid var(--first-color-lighten);
  color: var(--first-color-lighten);
  padding-left: 1.5rem;
  z-index: var(--z-tooltip);
}
.home_name {
  font-size: var(--biggest-font-size);
}
.home_greeting,
.home_profession {
  display: block;
  font-weight: var(--font-bold);
}
.home_greeting {
  font-size: 0.813rem;
}
.home_profession {
  font-size: 0.938rem;
  margin-bottom: var(--mb-3);
}
.home_img {
  min-height: 100vh;
  background-size: cover ;
}


.home_social {
  display: flex;
  flex-direction: column;
}
.home-social-icon {
  width: max-content;
  font-size: 1.3rems;
  margin-bottom: var(--mb-2);
  color: var(--first-color-lighten);
}
.home-social-icon:hover {
  color: var(--first-color-light);
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: rgb(240, 249, 255);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color);
  color:  rgba(50, 56, 67);
  
}
.button-light {
  background:transparent;
  color:  white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border-radius: 25px;
  border: 2px solid rgb(10, 165, 255);
  cursor: point;
  position: relative;
  overflow: hidden;
}
.button-light span{
  background-color:rgb(10, 165, 255);
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: width 0.5s ease;
}
.button-light:hover span{
  width: 100%;
}
.button-light:hover{
  color: white;
  background: none;
}

.button-white{
  background-color: var(--first-color-lighten);
  color: var(--first-color-dark);
}
.button-white:hover{
  background-color: var(--first-color-lighten);
}
.button-link{
  background: none ;
  color: black;
  padding: 0;
  
}
.button-link:hover{
  background: none;
  color: rgb(10, 165, 255);

}
.button-sendmsg{
  display: inline-block;
  background-color: rgb(240, 249, 255);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.button-sendmsg:hover {
  background-color: var(--first-color);
  color: white;
  
}




/*===== ABOUT =====*/
.about_data {
  text-align: center;
}
.about_description span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}
.about_number {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}

.about_img {
  justify-self: center;
  width: 250px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(116, 126, 136, 0.3);
}

/*===== QUALIFICATION =====*/
.qualification_container{
  row-gap: 2.5rem;

}
.qualification_title{
  font-size: var(--h3-font-size);
  color: rgba(50, 56, 67);
  margin-bottom: .7rem;
  display: flex;
  align-items: center;
}
.qualification-title-icon{  
  font-size: 1.5rem;
  margin: var(--mb-1);
}
.qualification_box{
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}
.qualification_area{
  font-size:var(--normal-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}
.qualification_work{
  font-size: var(--smaller-font-size);
  color: rgb(116, 123, 134);
}
.qualification_title-icon{
  font-size: var(--smaller-font-size);
  color: rgba(50, 56, 67);
}
.qualification_ojt{
  font-size:13px;
  color: rgba(50, 56, 67);
  

}
.qualification_schoolplace{
  font-size: var(--smaller-font-size);
  color: rgba(50, 56, 67);
}
.qualification_workplace{
  font-size: var(--smaller-font-size);
  color: rgba(50, 56, 67);
}
.qualification_work{
  display:block;
}

p.work_desc{
  margin: .3rem;
  padding-top: 5px;
}
p.education{
  margin: .2rem;
  padding-top: 2px;
}

/*===== SERVICES =====*/
.services_data{
  padding: 3rem 1rem;
  background-color: #FFF;
  border-radius: .5rem;
  text-align: center;
  transition: .4s;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}
.services_icon, .services_title{
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}
.services_icon{
  font-size: 3rem;
}
.services_title{
  font-size: var(--h3-font-size);
}
.services_description{
  margin-bottom: var(--mb-4);
}
.services_data:hover{
  transform: translateY(-.5rem);
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

/*===== PROJECT IN MIND =====*/
.project_container{
  padding: 1.5rem 1rem;
  background-color: rgb(10, 165, 255) ;
  color: var(--first-color-lighten);
  border-radius: .5rem;
  text-align: center;
}
.project_icon, .project_title{
  margin-bottom: var(--mb-1);
}
.project_icon{
  font-size: 3.5rem;
}
.project_title{
  font-size: 1rem;
}
.project_description{
  margin-bottom: var(--mb-4);
}




/*===== PORTFOLIO =====*/

.portfolio_nav{
  text-align: center;
  margin-bottom: var(--mb-3);
}
.portfolio_item{
  margin: 0 var(--mb-2);
  cursor: pointer;
}
.project_content{
  background-color: #FFF;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
} 
.portfolio_img{
  width: 100%;
  transition: .4s;
}
.portfolio_data{
  padding: 1.5rem;
}
.portfolio_subtitle{
  font-size: var(--small-font-size);
  color: var(--first-color-light);
}
.portfolio_title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin: var(--mb-2) 0 ;
}
.portfolio_content:hover{
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}
.portfolio_content:hover .portfolio_img{
  transform: scale(1.02);
}





/* Active menu portfolio*/
.active-portfolio{
  color:rgb(10, 165, 255);
  font-weight: var(--font-semi-bold);
}

/*===== TESTIMONIAL =====*/ 
.testimonial_content{
  display: grid;
  background-color: rgb(10, 165, 255);
  color: var(--first-color-lighten);
  border-radius: .5rem;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 8px 9px rgba(20, 4, 5, 0.25);
  margin-bottom: .2rem;

}
.testimonial_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);

}
.testimonial_client{
  font-size: var(--small-font-size);
  color: var(--first-color-light);
  margin-bottom: var(--mb-2);

  
}

.swiper-pagination{
  position: initial;

}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}



/*===== CONTACTME =====*/
.contact_container{
  row-gap: 2.5rem;
}
.contact_content{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
} 
.contact_box{
  background-color: #FFF;
  border-radius: .5rem;
  padding: 2rem .5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}  
.contact_icon, .contact_title{
  color: var(--first-color);
}
.contact_icon{
  font-size: 2rem;

}
.contact_title{
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;

}
.contact_social{
  color: var(--first-color-light);
  font-size: 1.25rem;
  margin: 0 var(--mb-1);

}

.contact_box:hover{
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}
.contact_inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;

}
.contact_input, .contact_button{
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
.contact_input{
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--first-color-light);
  color: var(--first-color);
  border-radius: .5rem;
  margin-bottom: var(--mb-1);

}
.contact::placeholder{
  color: var(--first-color-light);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}
.contact_button{
  cursor:pointer;
  border: none;

}

/*===== FOOTER =====*/
.footer{
  background-color: rgb(10, 165, 255);
  color: var(--first-color-light);
  text-align: center;
  position: relative;
  
}
.foot-wave-box{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 53px;
  

}
.footer-animation{
  animation: foot-wave 7s linear infinite;
  left: auto;
  right: 0;
}
@keyframes foot-wave {
  0%{
    transform: translateX(0%);

  } 
  50%{
    transform: translateX(50%);
  }
  100%{
    transform: translateX(100%);
  }

}
.foot-wave{
  background-image: url('./wave.png');
  background-color:rgb(10, 165, 255);
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-color: white;
  background-position: bottom;
  background-repeat: repeat-x;

}
.footer_container{
  padding: 3.5rem 0;

}
.footer_title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  color: white;
  font-weight: var(--font-semi-bold);
}
.footer_description{
  margin-bottom: var(--mb-2);
  color: white;
  
}
.footer_social{
  margin-bottom: var(--mb-3);
}
.footer_link{
  font-size: 1.4rem;
  color:white;
  margin: 0 var(--mb-1);
  transition: .3s;
}
.footer_link:hover{
  color: black;
}
.footer_copy{
  font-size: var(--smaller-font-size);
  color: white;
}


/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
  .home_img img{
    width: 330px;
  }
.about_container, .qualification_container, .services_container, .portfolio_container{
  grid-template-columns: repeat(2,1fr);
}

.contact_form{
  width: 450px;
  justify-self: center;
}

}
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 6rem ;
  }
  .section-title{
    margin-bottom: var(--mb-5);
  }
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav_list{
    display: flex;
  }
  .nav_item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav_toggle{
    display: none;
  }
  .home_container{
    height: 100vh;
    grid-template-rows: max-content .5fr;
    align-content: flex-end;
  }
  .home_greeting{
    font-size: 1.25rem;
  }  
  .home_profession{
    font-size: 2rem;
  }
  .home_social{
    flex-direction: row;
    align-items: center;
  }
  .home-social-icon{
    margin-right: var(--mb-4);
    margin-bottom: 0;
  }
  .home_img img{
    width: 350px;
  }
  .about_description{
    text-align: initial;
  }
  .about_img{
    width: 380px;
  }
  .qualification_box{
    display: flex;
    justify-content: space-between;
  } 
  .services_container,.portfolio_container{
    grid-template-columns: repeat(3,1fr);
  }
  .project_container{
    padding: 4.5rem 0;
  }
  .project_data{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .project_icon, .project_title, .project_description{
    margin-bottom: 0;
  }
  .project_icon{
    font-size: 6rem;

  }
  .project_title{
    font-size: 2.5rem;
  }

} 



@media screen and (min-width: 1024px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .home_img img{
    width: 450px;
  }
  .qualification_container{
    column-gap: 6rem; 
  }
  .home_name{
    font-size: 56px;
    
  }
}


@media screen and (min-width: 1618px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .bd-grid1{
    gap: 17rem;
  }
  .home_img img{
    width: 550px;
  }

}

